# RPC da rede Sepolia (Infura ou Alchemy)
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/SUA_CHAVE_AQUI

# Carteira principal (doador/deployer)
PRIVATE_KEY=0xSUA_CHAVE_PRIVADA_AQUI

# Segunda carteira (hemocentro)
HEMOCENTRO_KEY=0xSUA_SEGUNDA_CHAVE_PRIVADA_AQUI

# API Key do Etherscan
ETHERSCAN_API_KEY=SUA_API_KEY_ETHERSCAN

# Após executar o deploy, adicione os endereços abaixo
REGISTRY_ADDRESS=0x...
HMC_ADDRESS=0x...
BADGE_ADDRESS=0x...