# Environment Variables
.env
.env.*
!.env.example

# Dependencies
node_modules/
venv/
.pnp/
.pnp.js

# Hardhat / Solidity
artifacts/
cache/
coverage/
coverage.json/
typechain-types/

# Remix IDE
deps/
states/

# Build & Debug Files
dist/
build/
out/
*.dbg.json
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Test & Temporary Files
tmp/
temp/
*.tmp

# Security
secrets/
private/
*.pem
*.key